*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
}
.navbar-item-container{
    height: 50px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
.navbar-item-container i{
    transition: transform 0.1s ease;
}
.navbar-item{
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin-right: 0.5rem;
}
.dropdown-section{
    display: flex;
    gap: 2rem;
    z-index: -1;
    position: absolute;
    /* top: -18rem; */
    right: 0;
    left: 0;
    transition: top 0.3s ease-in-out;
}
.rotate{
    transform: rotate(-180deg);
}
.img-section{
    flex: 0.4;
}
.img-section img{
    width: 100%;
}
.menu-items-section{
    flex: 0.6;
}
.menu-container{
    padding: 1rem 0;
}
.menu-container .desc{
    color: rgb(144, 144, 144);
}